<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ProjectManagementSystem</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Developers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/developers/form">Find developer</a></li>
                            <li><a href="/developers/all">Find all developers</a></li>
                            <li><a href="/developers/add/form">Add developer</a></li>
                            <li><a href="/developers/delete/form">Delete developer</a></li>
                            <li><a href="/developers/update/form">Update developer</a></li>
                            <li><a href="/developers/branch/form">List of all developers by branch</a></li>
                            <li><a href="/developers/level/form">List of all developers by skill level</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Companies<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/companies/form">Find company</a></li>
                            <li><a href="/companies/all">Find all companies</a></li>
                            <li><a href="/companies/add/form">Add company</a></li>
                            <li><a href="/companies/delete/form">Delete company</a></li>
                            <li><a href="/companies/update/form">Update company</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/customers/form">Find customer</a></li>
                            <li><a href="/customers/all">Find all customers</a></li>
                            <li><a href="/customers/add/form">Add customer</a></li>
                            <li><a href="/customers/delete/form">Delete customer</a></li>
                            <li><a href="/customers/update/form">Update customer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/projects/form">Find project</a></li>
                            <li><a href="/projects/all">Find all projects</a></li>
                            <li><a href="/projects/add/form">Add project</a></li>
                            <li><a href="/projects/delete/form">Delete project</a></li>
                            <li><a href="/projects/update/form">Update project</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Skills<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/skills/form">Find skill</a></li>
                            <li><a href="/skills/all">Find all skills</a></li>
                            <li><a href="/skills/add/form">Add skill</a></li>
                            <li><a href="/skills/delete/form">Delete skill</a></li>
                            <li><a href="/skills/update/form">Update skill</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>